// @import '../../public/home-bg.jpg';
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  text-transform: capitalize;
  background-color: #ddd;
}
.image-container {
  position: relative;
  display: block;
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  
}
.testimonial-card{
  box-shadow: 0px 4px 6px -2px #00000008;
  box-shadow: 0px 12px 16px -4px #00000014;  
}
.image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%; /* Adjust the gradient height */
  background: linear-gradient(180deg, rgba(51, 32, 82, 0) 0%, #0A0A2B 100%);
  pointer-events: none;
  border-radius: 14px;
}
// .view-larger-text{
//   color: transparent;
//   transition: 200ms;
// }
// .view-larger-text:hover{
//   color: #cbe30a;
// }
.related-courses-container{
  position: relative;
  display: block;
}
.related-courses-container::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%; /* Adjust the gradient height */
  background: linear-gradient(180deg, rgba(41, 26, 66, 0.288) 0%, rgba(104, 66, 168, 0.48) 100%);
  pointer-events: none;
  z-index: -1;
}
.description-text{
  color: linear-gradient(90deg, #FCE8F3 0%, #A17ACC 100%);
}
.container-navbar{
  background-color: #100A1A80;
  backdrop-filter: blur(32px);
  box-shadow: 0px 0px 12px 0px #0000001F;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(153, 153, 153, 0.12) 100%);
}
.course-icons{
  border: 1px solid #2c1f40;
}
.course-title-div{
  background: linear-gradient(to left, rgba(16, 10, 26, 0) 40%, #100A1A 90%);
}
.image-course{
  filter: grayscale(100%);
  transition: filter 0.01s;
  
}
.course-title-div:hover .image-course {
  filter: grayscale(0%);
  transition: filter 0.01s;
}
.watch-intro-button{
  cursor: none;
}
.course-title-div:hover .watch-intro-button {
  border: 2px solid #E1ff00; /* Change the border color to yellow */
}

.course-title-div:hover .watch-now-icon {
  color: #E1ff00; /* Change the border color to yellow */
  transition: 0.3s ease-in-out;
}
.course-title-div .watch-now-icon {
  transition: 0.3s ease-in-out;
}
.view-larger-box{
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
  gap: 15px;
}
.view-larger-text{
  bottom: -25px;
  transition: 300ms ease-in-out;
}
.student-gallery {
  
  background: linear-gradient(180deg, rgba(51, 32, 82, 0) 0%, #0A0A2B 100%);
  transition: 0.3s ease-in-out;
}
.student-gallery::after {
  content: "";
  position: absolute;
  inset: -20px; /* Adjust thickness of border */
  z-index: -1;
  border-radius: inherit;
  background: radial-gradient(110.96% 50% at 50% 50%, rgba(51, 32, 82, 0) 0%, #291A42 100%);
}
.student-gallery:hover {
  background: linear-gradient(180deg, rgba(51, 32, 82, 0) 0%, #0A0A2B 80%);
}
.student-gallery:hover .view-larger-text{
  bottom: 10px;
  transition: 300ms ease-in-out;
}
.student-gallery .author-name{
  transition: 300ms ease-in-out;
}
.student-gallery:hover .author-name{
  opacity: 0;
  transition: 300ms ease-in-out;
}
.chart-container{
  border: 1px solid;
  backdrop-filter: blur(12px);
  box-shadow: 0px 0px 12px 0px #0000001F;
  border-image-source: linear-gradient(273.17deg, rgba(225, 255, 0, 0.24) -4.61%, rgba(255, 255, 255, 0.0288) 32.19%, rgba(255, 255, 255, 0.0288) 71.23%, rgba(237, 255, 98, 0.24) 107.43%);
}